[submodule "src/jp_imports"]
	path = src/jp_imports
	url = https://github.com/ouslan/jp-imports.git
[submodule "src/jp_index"]
	path = src/jp_index
	url = https://github.com/ouslan/jp-index.git
[submodule "src/submodules/jp-index"]
	path = src/submodules/jp-index
	url = https://github.com/EconLabs/jp-index.git
[submodule "src/submodules/jp_index"]
	path = src/submodules/jp_index
	url = https://github.com/EconLabs/jp-index.git
[submodule "src/submodules/jp_qcew"]
	path = src/submodules/jp_qcew
	url = https://github.com/EconLabs/jp-QCEW.git
[submodule "src/submodules/jp_forms"]
	path = src/submodules/jp_forms
	url = https://github.com/EconLabs/jp-forms.git
[submodule "src/submodules/jp_imports"]
	path = src/submodules/jp_imports
	url = https://github.com/EconLabs/jp-imports.git
[submodule "src/submodules/idh_index"]
	path = src/submodules/idh_index
	url = https://github.com/ouslan/IDH-index.git
